GPObjectLibrary.Module/Service References/DynamicsGP2010Service/DynamicsGPWebServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/security/2006/01" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/security/2006/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RoleKey">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SecurityKey">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Id" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SecurityKey" abstract="true" />
</xs:schema>